.logo {
	height: 50px;
	margin: 7px;
}

.navInicio {
	background: transparent !important;
}

.carrito {
	margin-top: 20px;
}

body {
/* Ubicación de la imagen */
background-image: url(../img/fondo1.jpg);
/* Para dejar la imagen de fondo centrada, vertical y horizontalmente */
background-position: center center;
/* Para que la imagen de fondo no se repita */
background-repeat: no-repeat;
/* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido */
background-attachment: fixed;
/* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador */
background-size: cover;
/* Se muestra un color de fondo mientras se está cargando la imagen de fondo o si hay problemas para cargarla */
background-color: black;

animation: cambiarfondo 20s;
animation-iteration-count: infinite;

}

@keyframes cambiarfondo {
	0% {
		background-image: url(../img/fondo1.jpg);
	}
	30% {
		background-image: url(../img/fondo1.jpg);
	}
	35% {
		background-image: url(../img/p3.jpg);
	}
	65% {
		background-image: url(../img/p3.jpg);
	}
	70% {
		background-image: url(../img/p9.jpg);
	}
	95% {
		background-image: url(../img/p9.jpg);
	}
}