{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Padmex{% endblock %}</title>
    <link rel="icon" type="text/css" href="{% static 'padmex/img/padmex_logo.png' %}">
    <link  rel="stylesheet" type="text/css" href="{% static 'padmex/css/style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'padmex/css/materialize.min.css' %}"/>
</head>
<body>
    <div class="navbar-fixed">
	<nav class="navInicio">

		<div class="row">
			<div class="col m4 s12">
				<a href="{% url 'padmex:index' %}" class="brand-logo"><img class="logo" src="{% static 'padmex/img/padmex_logo.png' %}"></a>
			</div>
			<div class="col m4 s12">
				<a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
				<ul class="right hide-on-med-and-down">
	    			<li><a href="{% url 'padmex:olimpicas' %}">Albercas Olímpicas</a></li>
	    			<li><a href="{% url 'padmex:residenciales' %}">Albercas Residenciales</a></li>
	    			<li><a href="{% url 'padmex:productos' %}">Productos</a></li>
	    		</ul>
			</div>
			<div class="col m4 s12">
				<ul class="right hide-on-med-and-down">
	    			<li><a href="#">Sign In/Up</a></li>
	    			<li><a href="#"><img class="carrito" src="{% static 'padmex/img/carritoComprasB.png' %}"></a></li>
					<li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Mostrar más<i class="material-icons right">arrow_drop_down</i></a></li>
	    		</ul>
			</div>
		</div>
	</nav>
	</div>

	<ul class="sidenav" id="mobile-demo">
		<li><a href="{% url 'padmex:olimpicas' %}">Albercas Olímpicas</a></li>
		<li><a href="badges.html">Albercas Residenciales</a></li>
		<li><a href="collapsible.html">Productos</a></li>
		<li class="divider"></li>
		<li><a href="#">Sing In/Up</a></li>
		<li><a href="#">Carrito</a></li>
		<li><a class="dropdown-trigger" href="#!" data-target="dropdown2">Más<i class="material-icons right">arrow_drop_down</i></a></li>
	</ul>

	<ul id="dropdown1" class="dropdown-content">
		<li><a href="#!">Nosotros</a></li>
		<li><a href="#!">Contacto</a></li>
		<li><a href="#!">Ubicaciones</a></li>
	</ul>

	<ul id="dropdown2" class="dropdown-content">
		<li><a href="#!">Nosotros</a></li>
		<li><a href="#!">Contacto</a></li>
		<li><a href="#!">Ubicaciones</a></li>
	</ul>

    {% block body %}
    {% endblock %}

</body>
<script type="text/javascript" src="../../static/padmex/js/jquery.js"></script>
<script type="text/javascript" src="../../static/padmex/js/materialize.min.js"></script>
<script type="text/javascript" src="../../static/padmex/js/app.js"></script>
</html>