{% extends 'padmex/base.html' %}
{% block body %}

   <div class="slider fullscreen">
		    <ul class="slides">
		      <li>
		        <img src="../../static/padmex/img/fondo1.jpg"> <!-- random image -->
		        <div class="caption center-align cuadro azul">
		          <h3>Los mejores diseños</h3>
		          <h5 class="light grey-text text-lighten-3">Sólo aquí en PadMex</h5>
		        </div>
		      </li>
		      <li>
		        <img src="../../static/padmex/img/p3.jpg"> <!-- random image -->
		        <div class="caption left-align cuadro azul">
		          <h3>¡Siempre elegantes! {{ username  }}</h3>
		          <h5 class="light grey-text text-lighten-3">Siempre lo mejor</h5>
		        </div>
		      </li>
		      <li>
		        <img src="../../static/padmex/img/p7.jpg"> <!-../../static/padmex/img/p7.jpg random image -->
		        <div class="caption right-align cuadro azul">
		          <h3>¡Convierte tu espacio en un lugar para convivir!</h3>
		          <h5 class="light grey-text text-lighten-3">PadMex es la mejor opción</h5>
		        </div>
		      </li>
		      <li>
		        <img src="../../static/padmex/img/p9.jpg"> <!-- random image -->
		        <div class="caption center-align cuadro azul">
		          <h3>De noche y de día</h3>
		          <h5 class="light grey-text text-lighten-3">La mejor iluminación</h5>
		        </div>
		      </li>
		    </ul>
{% endblock %}