{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<title>PadMex | Productos</title>
	<link  rel="stylesheet" type="text/css" href="{% static 'padmex/css/style.css' %}"/>
    <link rel="icon" type="text/css" href="{% static 'padmex/img/padmex_logo.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'padmex/css/materialize.min.css' %}"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Fjalla+One|Lobster|Questrial" rel="stylesheet">

    <style>
    /*------------------------------------------------------------
--------------------------->ESTILOS<--------------------------
------------------------------------------------------------*/
body {
/* Ubicación de la imagen */
/*background-image: url(../img/fondo1.jpg);*/
/* Para dejar la imagen de fondo centrada, vertical y horizontalmente */
background-position: center center;
/* Para que la imagen de fondo no se repita */
background-repeat: no-repeat;
/* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido */
background-attachment: fixed;
/* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador */
background-size: cover;
/* Se muestra un color de fondo mientras se está cargando la imagen de fondo o si hay problemas para cargarla */
background-color: white;
display: flex;
min-height: 100vh;
flex-direction: column;
}
div {
	text-align: justify;
}
h3, h4, h5, h6 {
	text-align: center;
	font-family: 'Fjalla One', sans-serif;
}
p {
	text-align: justify;
	font-family: 'Questrial', sans-serif;
}
div ul li {
	display: inline;
}
main {
    flex: 1 0 auto;
}

/*------------------------------------------------------------
--------------------------->CLASES<---------------------------
------------------------------------------------------------*/

/*------------------------------------------------------------
----------------------------FUENTES---------------------------
------------------------------------------------------------*/
.fjo{
	font-family: 'Fjalla One', sans-serif;
}
.lob, .card-title{
	font-family: 'Lobster', cursive;
}
.qu{
	font-family: 'Questrial', sans-serif;
}

/*------------------------------------------------------------
----------------------------COLORES---------------------------
------------------------------------------------------------*/
.negro {
	color: white !important;
	background-color:rgba(0,0,0,0.7);
	/*border-radius: 10px;*/
}
.azul {
	color: white !important;
	background-color:rgba(32,48,64,0.5); /*#203040*/
}
.sombraAzul {
	color: white !important;
	background-color:rgba(32,48,64,0.5); /*#203040*/
}
.blanco {
	color: black !important;
	background-color:rgba(255,255,255,0.7);
}
.amarillo {
	color: black !important;
	background-color:rgba(222,180,0,0.7); /*#DEB400*/
	border-radius: 10px;
}

.lb {
	color: white !important;
}

.ln {
	color: black !important;
}

/*------------------------------------------------------------
------------------------FORMAS Y TAMAÑOS----------------------
------------------------------------------------------------*/
.cuadro {
	margin: 10px;
	padding: 20px;
	/*border-radius: 10px;*/
}
.cuadro2 {
	margin: 10px;
	padding: 20px;
	border-radius: 10px;
}
.logo {
	height: 50px;
	margin: 7px;
}
.navInicio {
	background: transparent !important;
}
.carrito {
	margin-top: 20px;
}
.boton {
	color: white;
	padding: 12px;
	margin: 12px;
	width: 190px;
	height: 40px;
	text-align: center;
	border-radius: 10px;
	font-family: 'Lobster', cursive;
}
.dd {
	background-color: white;/*#476D93;*/
}
.parallax-container {
	height: 200px;
}
</style>

</head>
<body background="../../static/padmex/img/fondo8.jpg">

	<div class="navbar-fixed">
	<nav class="azul">

		<div class="row">
			<div class="col m4 s12">
				<a href="{% url 'padmex:index' %}" class="brand-logo"><img class="logo" src="../../static/padmex/img/padmex_logo.png"></a>
			</div>
			<div class="col m4 s12">
				<a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
				<ul class="right hide-on-med-and-down">
	    			<li><a href="{% url 'padmex:olimpicas' %}">Alberca Olímpica</a></li>
	    			<li><a href="{% url 'padmex:residenciales' %}">Alberca Residencial</a></li>
	    			<li><a class="negro" href="{% url 'padmex:productos' %}">Productos</a></li>
	    		</ul>
			</div>
			<div class="col m4 s12">
				<ul class="right hide-on-med-and-down">
	    			<li><a href="{% url 'padmex:controlador' %}">Sign In/Up</a></li>
	    			<li><a href="{% url 'padmex:carrito' %}"><img class="carrito" src="../../static/padmex/img/carritoComprasB.png"></a></li>
					<li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Mostrar más<i class="material-icons right">arrow_drop_down</i></a></li>
	    		</ul>
			</div>
		</div>
	</nav>
	</div>

	<ul class="sidenav" id="mobile-demo">
		<li><a href="{% url 'padmex:olimpicas' %}">Alberca Olímpica</a></li>
		<li><a href="{% url 'padmex:residenciales' %}">Alberca Residencial</a></li>
		<li><a class="negro" href="{% url 'padmex:productos' %}">Productos</a></li>
		<li class="divider"></li>
		<li><a href="{% url 'padmex:controlador' %}">Sign In/Up</a></li>
		<li><a href="{% url 'padmex:carrito' %}">Carrito</a></li>
		<li><a class="dropdown-trigger" href="#!" data-target="dropdown2">Más<i class="material-icons right">arrow_drop_down</i></a></li>
	</ul>

	<ul id="dropdown1" class="dropdown-content dd">
		<li><a class="ln" href="{% url 'padmex:nosotros' %}">Nosotros</a></li>
		<li><a class="ln" href="{% url 'padmex:contactanos' %}">Contacto</a></li>
		<li><a class="ln" href="{% url 'padmex:ubicaciones' %}">Ubicaciones</a></li>
	</ul>

	<ul id="dropdown2" class="dropdown-content">
		<li><a class="ln" href="{% url 'padmex:nosotros' %}">Nosotros</a></li>
		<li><a class="ln" href="{% url 'padmex:contactanos' %}">Contacto</a></li>
		<li><a class="ln" href="{% url 'padmex:ubicaciones' %}">Ubicaciones</a></li>
	</ul>


	<main>
			<div class="row">
				<ul class="collapsible">
    				<li>
	    				<div class="collapsible-header azul lob"><div class="container"><center>Acabado</center></div></div>
	    				<div class="collapsible-body"><span>
					    	<div class="row">
					    		<div class="col m10 offset-m1 s12">
					    			<div class="col m3 s12">
										<div class="card">
								    		<div class="card-image waves-effect waves-block waves-light">
								    			<img class="activator" src="../../static/padmex/img/ab-mosaico.jpg">
								    		</div>
								    		<div class="card-content">
								    			<span class="card-title activator grey-text text-darken-4">Mosaico<i class="material-icons right">more_vert</i></span>
								      			<!--<p><a href="{% url 'padmex:compras' %}">Comprar</a></p>-->
                                                <form action="" method="post">
                                                    <input type="submit" value="Comprar" name="">
                                                </form>
								    		</div>
								    		<div class="card-reveal">
									    		<span class="card-title grey-text text-darken-4">Mosaico<i class="material-icons right">close</i></span>
												<ul>
											      	<li>Mezclas que dan la sensación de agua en movimiento, algunas tiene chispas iridiscentes que destacan el reflejo del agua natural otras mezclas tiene tonos de la misma gama de colores; otras tienen contraste de color, todos estos efectos combinados con los movimientos del agua añaden belleza a su piscina.</li>
												</ul>
								    		</div>
										</div>
									</div>
									<div class="col m3 s12">
										<div class="card">
								    		<div class="card-image waves-effect waves-block waves-light">
								    			<img class="activator" src="../../static/padmex/img/ab-techumbre.jpg">
								    		</div>
								    		<div class="card-content">
								    			<span class="card-title activator grey-text text-darken-4">Techumbre<i class="material-icons right">more_vert</i></span>
								   				<p><a href="{% url 'padmex:compras' %}">Comprar</a></p>
								    		</div>
								    		<div class="card-reveal">
								    			<span class="card-title grey-text text-darken-4">Techumbre<i class="material-icons right">close</i></span>
								    			<ul>
											      	<li>Cubre áreas de trabajo con hermeticidad perfecta. Sistema de engargolado que impide filtraciones. Sin mantenimiento ni estructura intermedia.</li>
											    </ul>
								    		</div>
									  	</div>
									</div>
									<div class="col m3 s12">
										<div class="card">
										    <div class="card-image waves-effect waves-block waves-light">
										    	<img class="activator" src="../../static/padmex/img/ab-ventana.jpg">
										    </div>
										    <div class="card-content">
										      	<span class="card-title activator grey-text text-darken-4">Vtna. Subacuática<i class="material-icons right">more_vert</i></span>
										    	<p><a href="{% url 'padmex:compras' %}">Comprar</a></p>
										    </div>
										    <div class="card-reveal">
										    	<span class="card-title grey-text text-darken-4">Ventana Subacuática<i class="material-icons right">close</i></span>
										    <ul>
									      		<li>Fin a los limites visuales con las ventanas subacuáticas de vidrio, agregue a su alberca un toque moderno.</li>
									      	</ul>
										    </div>
										</div>
									</div>
									<div class="col m3 s12">
										<div class="card">
										    <div class="card-image waves-effect waves-block waves-light">
										    	<img class="activator" src="../../static/padmex/img/ab-vidrio.jpg">
										    </div>
										    <div class="card-content">
										      	<span class="card-title activator grey-text text-darken-4">Vidrio de acrílico<i class="material-icons right">more_vert</i></span>
										    	<p><a href="{% url 'padmex:compras' %}">Comprar</a></p>
										    </div>
										    <div class="card-reveal">
										    	<span class="card-title grey-text text-darken-4">Vidrio de acrílico<i class="material-icons right">close</i></span>
										    	<ul>
											      	<li>Fin a los limites visuales, cristal para albercas, ventanas subacuáticas de vidrio, Vea su alberca en infiniti con un vidrio para albercas y la mejor opción es con Acrilico para albercas.</li>
											    </ul>
										    </div>
										</div>
									</div>
								</div>
							</div>
					    </span></div>
    				</li>
    				<li>
					    <div class="collapsible-header azul lob"><div class="container"><center>Mantenimiento</center></div></div>
					    <div class="collapsible-body"><span>
					    	<div class="row">
					    		<div class="col m10 offset-m1 s12">
					    			<div class="col m3 s12">
										<div class="card">
								    		<div class="card-image waves-effect waves-block waves-light">
								    			<img class="activator" src="../../static/padmex/img/m-bomba.jpg">
								    		</div>
								    		<div class="card-content">
								    			<span class="card-title activator grey-text text-darken-4">Motobomba Whisperflo<i class="material-icons right">more_vert</i></span>
								      			<p><a href="{% url 'padmex:compras' %}">Comprar</a></p>
								    		</div>
								    		<div class="card-reveal">
									    		<span class="card-title grey-text text-darken-4">Motobomba Whisperflo<i class="material-icons right">close</i></span>
												<ul>
													<li>Este diseno hidraulico innovador mueve el agua de manera mas eficiente y mas silenciosa que las bombas de la competencia. En condiciones de funcionamiento tipicas, la bomba WhisperFlo ofrece el mayor flujo de agua de cualquier bomba de alto rendimiento, y con el menor consumo de electricidad.</li>
												</ul>
								    		</div>
										</div>
									</div>
									<div class="col m3 s12">
										<div class="card">
								    		<div class="card-image waves-effect waves-block waves-light">
								    			<img class="activator" src="../../static/padmex/img/m-filtro.jpg">
								    		</div>
								    		<div class="card-content">
								    			<span class="card-title activator grey-text text-darken-4">Filtro HAYWARD Pro-Grid T.D. 36 ft2<i class="material-icons right">more_vert</i></span>
								   				<p><a href="{% url 'padmex:compras' %}">Comprar</a></p>
								    		</div>
								    		<div class="card-reveal">
								    			<span class="card-title grey-text text-darken-4">Filtro HAYWARD Pro-Grid T.D. 36 ft2<i class="material-icons right">close</i></span>
								    			<ul>
								    				<li>El objetivo de los filtros es retener las partículas que se encuentran en suspensión en el agua.</li>
											    </ul>
								    		</div>
									  	</div>
									</div>
									<div class="col m3 s12">
										<div class="card">
										    <div class="card-image waves-effect waves-block waves-light">
										    	<img class="activator" src="../../static/padmex/img/m-quimico.jpg">
										    </div>
										    <div class="card-content">
										      	<span class="card-title activator grey-text text-darken-4">ALKALI pH+ para piscinas<i class="material-icons right">more_vert</i></span>
										    	<p><a href="{% url 'padmex:compras' %}">Comprar</a></p>
										    </div>
										    <div class="card-reveal">
										    	<span class="card-title grey-text text-darken-4">ALKALI pH+<i class="material-icons right">close</i></span>
										    <ul>
									      		<li>Polvo blanco que se disuelve rápida y eficazmente. Se usa para elevar el pH del agua de las albercas cuando se encuentra por debajo del nivel ideal (7.2 a 7.5). el pH es el nivel de acidez o basicidad del agua y se mide en una escala del 0 a 14.</li>
									    	</ul>
										    </div>
										</div>
									</div>
									<div class="col m3 s12">
										<div class="card">
										    <div class="card-image waves-effect waves-block waves-light">
										    	<img class="activator" src="../../static/padmex/img/m-reja.jpg">
										    </div>
										    <div class="card-content">
										      	<span class="card-title activator grey-text text-darken-4">Rejilla Cuadrada con Marco de 12 x 12<i class="material-icons right">more_vert</i></span>
										    	<p><a href="{% url 'padmex:compras' %}">Comprar</a></p>
										    </div>
										    <div class="card-reveal">
										    	<span class="card-title grey-text text-darken-4">Rejilla Cuadrada con Marco de 12 x 12<i class="material-icons right">close</i></span>
										    	<ul>
											      	<li>Las salidas de succión marca Hayward pueden manejar los más altos flujos de agua aprobados en la industria, para su uso en construcciones nuevas o como reemplazo de una tapa existente. Siempre reemplace la tapa correspondiente a la marca y al modelo del marco al cual se vaya a fijar y reemplácela al menos cada 7 años o cuando la tapa esté dañada o no instalada con seguridad.</li>
											    </ul>
										    </div>
										</div>
									</div>
								</div>
							</div>
					    </span></div>
				    </li>
				    <li>
					    <div class="collapsible-header azul lob"><div class="container"><center>Accesorios</center></div></div>
					    <div class="collapsible-body"><span>
					    	<div class="row">
					    		<div class="col m10 offset-m1 s12">
					    			<div class="col m3 s12">
										<div class="card">
								    		<div class="card-image waves-effect waves-block waves-light">
								    			<img class="activator" src="../../static/padmex/img/ac-calentador.jpg">
								    		</div>
								    		<div class="card-content">
								    			<span class="card-title activator grey-text text-darken-4">Calentador MAX-E-Therm<i class="material-icons right">more_vert</i></span>
								      			<p><a href="{% url 'padmex:compras' %}">Comprar</a></p>
								    		</div>
								    		<div class="card-reveal">
									    		<span class="card-title grey-text text-darken-4">Calentador MAX-E-Therm<i class="material-icons right">close</i></span>
												<ul>
												  	<li>Calentador de gas para alberca pentair mastertemp. Capacidad: 200,000 Btu. Alimentación eléctrica: 115/230V. 1F Conexiones hidráulicas 2 - 2½ Cementar.</li>
												</ul>
								    		</div>
										</div>
									</div>
									<div class="col m3 s12">
										<div class="card">
								    		<div class="card-image waves-effect waves-block waves-light">
								    			<img class="activator" src="../../static/padmex/img/ac-nado.jpg">
								    		</div>
								    		<div class="card-content">
								    			<span class="card-title activator grey-text text-darken-4">Nado Contra Corriente AQUEX<i class="material-icons right">more_vert</i></span>
								   				<p><a href="{% url 'padmex:compras' %}">Comprar</a></p>
								    		</div>
								    		<div class="card-reveal">
								    			<span class="card-title grey-text text-darken-4">Nado Contra Corriente AQUEX<i class="material-icons right">close</i></span>
								    			<ul>
								    				<li>Nado Contra Corriente Aquex de 4 HP, 240V 3 Fases</li>
											    </ul>
								    		</div>
									  	</div>
									</div>
									<div class="col m3 s12">
										<div class="card">
										    <div class="card-image waves-effect waves-block waves-light">
										    	<img class="activator" src="../../static/padmex/img/ac-red.jpg">
										    </div>
										    <div class="card-content">
										      	<span class="card-title activator grey-text text-darken-4">Red saca hojas tipo bolsa<i class="material-icons right">more_vert</i></span>
										    	<p><a href="{% url 'padmex:compras' %}">Comprar</a></p>
										    </div>
										    <div class="card-reveal">
										    	<span class="card-title grey-text text-darken-4">Red saca hojas<i class="material-icons right">close</i></span>
										    <ul>
									      		<li>Red saca hojas tipo bolsa con mango de aluminio. Ideal para facilitar la limpieza de hojas y otros sólidos suspendidos en el agua de su alberca.</li>
									    	</ul>
										    </div>
										</div>
									</div>
									<div class="col m3 s12">
										<div class="card">
										    <div class="card-image waves-effect waves-block waves-light">
										    	<img class="activator" src="../../static/padmex/img/ac-trampolin.jpg">
										    </div>
										    <div class="card-content">
										      	<span class="card-title activator grey-text text-darken-4">Trampolín para piscina<i class="material-icons right">more_vert</i></span>
										    	<p><a href="{% url 'padmex:compras' %}">Comprar</a></p>
										    </div>
										    <div class="card-reveal">
										    	<span class="card-title grey-text text-darken-4">Trampolín para piscina<i class="material-icons right">close</i></span>
										    	<ul>
										    		<li>Fabricado en poliéster y fibra de vidrio con 2 barandillas en acero inox. Peldaños y palanca antideslizante  Longitud 2.4 m</li>
											    </ul>
										    </div>
										</div>
									</div>
								</div>
							</div>
					    </span></div>
				    </li>
				    <li>
					    <div class="collapsible-header azul lob"><div class="container"><center>Iluminación</center></div></div>
					    <div class="collapsible-body"><span>
					    	<div class="row">
					    		<div class="col m10 offset-m1 s12">
					    			<div class="col m3 s12">
										<div class="card">
								    		<div class="card-image waves-effect waves-block waves-light">
								    			<img class="activator" src="../../static/padmex/img/i1.jpg">
								    		</div>
								    		<div class="card-content">
								    			<span class="card-title activator grey-text text-darken-4">LumiPlus PAR56 1.11<i class="material-icons right">more_vert</i></span>
								      			<p><a href="{% url 'padmex:compras' %}">Comprar</a></p>
								    		</div>
								    		<div class="card-reveal">
									    		<span class="card-title grey-text text-darken-4">LumiPlus PAR56 1.11<i class="material-icons right">close</i></span>
												<ul>
												  	<br>
											      	<li><strong>Voltaje</strong> 12V</li>
											      	<br>
											      	<li><strong>Corriente</strong> AC</li>
											      	<br>
											      	<li><strong>Lámpara</strong> PAR56 LED 35W</li>
											      	<br>
											      	<li><strong>Protección</strong> Class III IP X8</li>
												</ul>
								    		</div>
										</div>
									</div>
									<div class="col m3 s12">
										<div class="card">
								    		<div class="card-image waves-effect waves-block waves-light">
								    			<img class="activator" src="../../static/padmex/img/i2.jpg">
								    		</div>
								    		<div class="card-content">
								    			<span class="card-title activator grey-text text-darken-4">LumiPlus S-Lim 1.11<i class="material-icons right">more_vert</i></span>
								   				<p><a href="{% url 'padmex:compras' %}">Comprar</a></p>
								    		</div>
								    		<div class="card-reveal">
								    			<span class="card-title grey-text text-darken-4">LumiPlus S-Lim 1.11<i class="material-icons right">close</i></span>
								    			<ul>
											      	<br>
											      	<li><strong>Voltaje</strong> 12V</li>
											      	<br>
											      	<li><strong>Corriente</strong> AC</li>
											      	<br>
											     	<li><strong>Lámpara</strong> LED 35W</li>
											      	<br>
											      	<li><strong>Protección</strong> Class III IP X8</li>
											    </ul>
								    		</div>
									  	</div>
									</div>
									<div class="col m3 s12">
										<div class="card">
										    <div class="card-image waves-effect waves-block waves-light">
										    	<img class="activator" src="../../static/padmex/img/i1-2.jpg">
										    </div>
										    <div class="card-content">
										      	<span class="card-title activator grey-text text-darken-4">LumiPlus 2.0<i class="material-icons right">more_vert</i></span>
										    	<p><a href="{% url 'padmex:compras' %}">Comprar</a></p>
										    </div>
										    <div class="card-reveal">
										    	<span class="card-title grey-text text-darken-4">Familia LumiPlus 2.0<i class="material-icons right">close</i></span>
										    	<ul>
									      	<br>
									      	<li><strong>Voltaje</strong> 12V</li>
									      	<br>
									      	<li><strong>Corriente</strong> AC</li>
									      	<br>
									      	<li><strong>Lámpara</strong> PAR56 LED 70W</li>
									      	<br>
									      	<li><strong>Protección</strong> Class III IP X8</li>
									      </ul>
										    </div>
										</div>
									</div>
									<div class="col m3 s12">
										<div class="card">
										    <div class="card-image waves-effect waves-block waves-light">
										    	<img class="activator" src="../../static/padmex/img/i3.jpg">
										    </div>
										    <div class="card-content">
										      	<span class="card-title activator grey-text text-darken-4">LumiPlus 2.11<i class="material-icons right">more_vert</i></span>
										    	<p><a href="{% url 'padmex:compras' %}">Comprar</a></p>
										    </div>
										    <div class="card-reveal">
										    	<span class="card-title grey-text text-darken-4">Familia LumiPlus 2.11<i class="material-icons right">close</i></span>
										    	<ul>
											      	<br>
											      	<li><strong>Voltaje</strong> 12V</li>
											      	<br>
											      	<li><strong>Corriente</strong> AC</li>
											      	<br>
											      	<li><strong>Lámpara</strong> PAR56 LED 70W</li>
											      	<br>
											      	<li><strong>Protección</strong> Class III IP X8</li>
											    </ul>
										    </div>
										</div>
									</div>
								</div>
							</div>
					    </span></div>
				    </li>
				</ul>
			</div>
			<div class="container row">
				<div class="col s12">
					<p class="cuadro">El adecuado mantenimiento de la química del agua es crucial para conseguir el uso más eficiente del cloro que compramos, lo que resulta en optimización de dinero invertido en productos químicos y productos de limpieza para nuestra alberca. Tenemos los mejores Químicos para el mantenimiento de su alberca, fuente o espejo de agua.</p>
				</div>
			</div>

	</main>

    <footer class="azul">
          <div class="container">
            <div class="row">
              <div class="col m3 s12">
              	<center><img class="logo" src="../../static/padmex/img/padmex_logo.png"></center>
                <h6 class="white-text">Piscinas PadMex, S.A. de C.V.</h6>
              </div>
            	<div class="col m7 offset-m1 s12">
	                <p class="grey-text text-lighten-4"><strong class="lb fjo">Dirección: </strong>Av. Universidad No. 1344, Col. del Carmen. Coyoacán, D.F. C.P. 04100</p>
	                <div class="row">
	                	<div class="col m2 s12">
	                		<p class="grey-text text-lighten-4"><strong class="lb fjo">Teléfonos: </strong></p>
	                	</div>
	                	<div class="col m3 s12">
	                		<p class="grey-text text-lighten-4">01(55) 5604 7468</p>
	                	</div>
	                	<div class="col m4 s12">
	                		<p class="grey-text text-lighten-4">01(55) 5604 7455</p>
	                	</div>
	                	<div class="col m1 s12">
	                		<a class="grey-text text-lighten-3" href="https://www.facebook.com/Piscinas-Padmex-SA-de-CV-939212429443583/"><img src="../../static/padmex/img/fb-logo.png"></a>
	                	</div>
	                	<div class="col m1 s12">
	                		<a class="grey-text text-lighten-3" href="https://twitter.com/PiscinasPadMex"><img src="../../static/padmex/img/t-logo.png"></a>
	                	</div>
	                </div>
              	</div>
            </div>
          </div>
      </footer>

</body>
<script type="text/javascript" src="../../static/padmex/js/jquery.js"></script>
<script type="text/javascript" src="../../static/padmex/js/materialize.min.js"></script>
<script type="text/javascript" src="../../static/padmex/js/app.js"></script>
</html>