{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<title>PadMex | Productos</title>
	<link  rel="stylesheet" type="text/css" href="{% static 'padmex/css/style.css' %}"/>
    <link rel="icon" type="text/css" href="{% static 'padmex/img/padmex_logo.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'padmex/css/materialize.min.css' %}"/>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Fjalla+One|Lobster|Questrial" rel="stylesheet">


 <style>
     /*------------------------------------------------------------
--------------------------->ESTILOS<--------------------------
------------------------------------------------------------*/
body {
/* Ubicación de la imagen */
/*background-image: url(../img/fondo1.jpg);*/
/* Para dejar la imagen de fondo centrada, vertical y horizontalmente */
background-position: center center;
/* Para que la imagen de fondo no se repita */
background-repeat: no-repeat;
/* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido */
background-attachment: fixed;
/* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador */
background-size: cover;
/* Se muestra un color de fondo mientras se está cargando la imagen de fondo o si hay problemas para cargarla */
background-color: white;
}
div {
	text-align: justify;
}
h3, h4, h5, h6 {
	text-align: center;
	font-family: 'Fjalla One', sans-serif;
}
p {
	text-align: justify;
	font-family: 'Questrial', sans-serif;
}

/*------------------------------------------------------------
--------------------------->CLASES<---------------------------
------------------------------------------------------------*/

/*------------------------------------------------------------
----------------------------FUENTES---------------------------
------------------------------------------------------------*/
.fjo{
	font-family: 'Fjalla One', sans-serif;
}
.lob, .card-title{
	font-family: 'Lobster', cursive;
}
.qu{
	font-family: 'Questrial', sans-serif;
}

/*------------------------------------------------------------
----------------------------COLORES---------------------------
------------------------------------------------------------*/
.negro {
	color: white !important;
	background-color:rgba(0,0,0,0.7);
	/*border-radius: 10px;*/
}
.azul {
	color: white !important;
	background-color:rgba(32,48,64,0.5); /*#203040*/
}
.sombraAzul {
	color: white !important;
	background-color:rgba(32,48,64,0.5); /*#203040*/
}
.blanco {
	color: black !important;
	background-color:rgba(255,255,255,0.7);
	border-radius: 10px;
}
.amarillo {
	color: black !important;
	background-color:rgba(222,180,0,0.7); /*#DEB400*/
	border-radius: 10px;
}

.lb {
	color: white !important;
}

.ln {
	color: black !important;
}

/*------------------------------------------------------------
------------------------FORMAS Y TAMAÑOS----------------------
------------------------------------------------------------*/
.cuadro {
	margin: 10px;
	padding: 20px;
	/*border-radius: 10px;*/
}
.cuadro2 {
	margin: 10px;
	padding: 20px;
	border-radius: 10px;
}
.logo {
	height: 50px;
	margin: 7px;
}
.navInicio {
	background: transparent !important;
}
.carrito {
	margin-top: 20px;
}
.boton {
	color: white;
	padding: 12px;
	margin: 12px;
	width: 190px;
	height: 40px;
	text-align: center;
	border-radius: 10px;
	font-family: 'Lobster', cursive;
}
.dd {
	background-color: white;/*#476D93;*/
}
#nosotros {
	height: 200px;
}
/*.img{

	width: 720px;
	height: 480px;
}
    </style>

</head>

<body background="../../static/padmex/img/fondo8.jpg">

	<div class="navbar-fixed">
	<nav class="azul">

		<div class="row">
			<div class="col m4 s12">
				<a href="{% url 'padmex:index' %}" class="brand-logo"><img class="logo" src="../../static/padmex/img/padmex_logo.png"></a>
			</div>
			<div class="col m4 s12">
				<a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
				<ul class="right hide-on-med-and-down">
	    			<li><a href="{% url 'padmex:olimpicas' %}">Alberca Olímpica</a></li>
	    			<li><a href="{% url 'padmex:residenciales' %}">Alberca Residencial</a></li>
	    			<li><a class="negro" href="productos.html">Productos</a></li>
	    		</ul>
			</div>
			<div class="col m4 s12">
				<ul class="right hide-on-med-and-down">
	    			<li><a href="#">Sing In/Up</a></li>
	    			<li><a href="#"><img class="carrito" src="../../static/padmex/img/carritoComprasB.png"></a></li>
					<li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Mostrar más<i class="material-icons right">arrow_drop_down</i></a></li>
	    		</ul>
			</div>
		</div>
	</nav>
	</div>

	<ul class="sidenav" id="mobile-demo">
		<li><a href="{% url 'padmex:olimpicas' %}">Alberca Olímpica</a></li>
		<li><a href="{% url 'padmex:residenciales' %}">Alberca Residencial</a></li>
		<li><a href="#">Productos</a></li>
		<li class="divider"></li>
		<li><a href="#">Sign In/Up</a></li>
		<li><a href="#">Carrito</a></li>
		<li><a class="dropdown-trigger" href="#!" data-target="dropdown2">Más<i class="material-icons right">arrow_drop_down</i></a></li>
	</ul>

	<ul id="dropdown1" class="dropdown-content dd">
		<li><a class="ln" href="{% url 'padmex:nosotros' %}">Nosotros</a></li>
		<li><a class="ln" href="contacto.html">Contacto</a></li>
		<li><a class="ln" href="ubicaciones.html">Ubicaciones</a></li>
	</ul>

	<ul id="dropdown2" class="dropdown-content">
		<li><a class="ln" href="{% url 'padmex:nosotros' %}nosotros.html">Nosotros</a></li>
		<li><a class="ln" href="contacto.html">Contacto</a></li>
		<li><a class="ln" href="ubicaciones.html">Ubicaciones</a></li>
	</ul>

	<main>
			<div class="row">
				<ul class="collapsible">
    				<li>
	    				<div class="collapsible-header azul lob"><div class="container"><center>Acabado</center></div></div>
	    				<div class="collapsible-body"><span>
					    	<div class="row">
					    		<div class="col m10 offset-m1 s12">
					    			<div class="col m3 s12">
										<div class="card">
								    		<div class="card-image waves-effect waves-block waves-light">
								    			<img class="activator" src="../../static/padmex/img/i1.jpg">
								    		</div>
								    		<div class="card-content">
								    			<span class="card-title activator grey-text text-darken-4">LumiPlus PAR56 1.11<i class="material-icons right">more_vert</i></span>
								      			<p><a href="{% url 'padmex:compras' %}">Comprar</a></p>
								    		</div>
								    		<div class="card-reveal">
									    		<span class="card-title grey-text text-darken-4">LumiPlus PAR56 1.11<i class="material-icons right">close</i></span>
												<ul>
												  	<br>
											      	<li><strong>Voltaje</strong> 12V</li>
											      	<br>
											      	<li><strong>Corriente</strong> AC</li>
											      	<br>
											      	<li><strong>Lámpara</strong> PAR56 LED 35W</li>
											      	<br>
											      	<li><strong>Protección</strong> Class III IP X8</li>
												</ul>
								    		</div>
										</div>
									</div>
									<div class="col m3 s12">
										<div class="card">
								    		<div class="card-image waves-effect waves-block waves-light">
								    			<img class="activator" src="../../static/padmex/img/i2.jpg">
								    		</div>
								    		<div class="card-content">
								    			<span class="card-title activator grey-text text-darken-4">LumiPlus S-Lim 1.11<i class="material-icons right">more_vert</i></span>
								   				<p><a href="#">Comprar</a></p>
								    		</div>
								    		<div class="card-reveal">
								    			<span class="card-title grey-text text-darken-4">LumiPlus S-Lim 1.11<i class="material-icons right">close</i></span>
								    			<ul>
											      	<br>
											      	<li><strong>Voltaje</strong> 12V</li>
											      	<br>
											      	<li><strong>Corriente</strong> AC</li>
											      	<br>
											     	<li><strong>Lámpara</strong> LED 35W</li>
											      	<br>
											      	<li><strong>Protección</strong> Class III IP X8</li>
											    </ul>
								    		</div>
									  	</div>
									</div>
									<div class="col m3 s12">
										<div class="card">
										    <div class="card-image waves-effect waves-block waves-light">
										    	<img class="activator" src="../../static/padmex/img/i3.jpg">
										    </div>
										    <div class="card-content">
										      	<span class="card-title activator grey-text text-darken-4">LumiPlus 2.11<i class="material-icons right">more_vert</i></span>
										    	<p><a href="#">Comprar</a></p>
										    </div>
										    <div class="card-reveal">
										    	<span class="card-title grey-text text-darken-4">Familia LumiPlus 2.11<i class="material-icons right">close</i></span>
										    	<ul>
									      	<br>
									      	<li><strong>Voltaje</strong> 12V</li>
									      	<br>
									      	<li><strong>Corriente</strong> AC</li>
									      	<br>
									      	<li><strong>Lámpara</strong> PAR56 LED 70W</li>
									      	<br>
									      	<li><strong>Protección</strong> Class III IP X8</li>
									      </ul>
										    </div>
										</div>
									</div>
									<div class="col m3 s12">
										<div class="card">
										    <div class="card-image waves-effect waves-block waves-light">
										    	<img class="activator" src="../../static/padmex/img/i3.jpg">
										    </div>
										    <div class="card-content">
										      	<span class="card-title activator grey-text text-darken-4">LumiPlus 2.11<i class="material-icons right">more_vert</i></span>
										    	<p><a href="#">Comprar</a></p>
										    </div>
										    <div class="card-reveal">
										    	<span class="card-title grey-text text-darken-4">Familia LumiPlus 2.11<i class="material-icons right">close</i></span>
										    	<ul>
											      	<br>
											      	<li><strong>Voltaje</strong> 12V</li>
											      	<br>
											      	<li><strong>Corriente</strong> AC</li>
											      	<br>
											      	<li><strong>Lámpara</strong> PAR56 LED 70W</li>
											      	<br>
											      	<li><strong>Protección</strong> Class III IP X8</li>
											    </ul>
										    </div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col m10 offset-m1 s12">
									<div class="col s12 cuadro blanco">
										<p>El adecuado mantenimiento de la química del agua es crucial para conseguir el uso más eficiente del cloro que compramos, lo que resulta en optimización de dinero invertido en productos químicos y productos de limpieza para nuestra alberca. Tenemos los mejores Químicos para el mantenimiento de su alberca, fuente o espejo de agua.</p>
									</div>
								</div>
							</div>
					    </span></div>
    				</li>
    				<li>
					    <div class="collapsible-header azul lob"><div class="container"><center>Mantenimiento</center></div></div>
					    <div class="collapsible-body"><span>
					    	<div class="row">
					    		<div class="col m10 offset-m1 s12">
					    			<div class="col m3 s12">
										<div class="card">
								    		<div class="card-image waves-effect waves-block waves-light">
								    			<img class="activator" src="../../static/padmex/img/i1.jpg">
								    		</div>
								    		<div class="card-content">
								    			<span class="card-title activator grey-text text-darken-4">LumiPlus PAR56 1.11<i class="material-icons right">more_vert</i></span>
								      			<p><a href="#">Comprar</a></p>
								    		</div>
								    		<div class="card-reveal">
									    		<span class="card-title grey-text text-darken-4">LumiPlus PAR56 1.11<i class="material-icons right">close</i></span>
												<ul>
												  	<br>
											      	<li><strong>Voltaje</strong> 12V</li>
											      	<br>
											      	<li><strong>Corriente</strong> AC</li>
											      	<br>
											      	<li><strong>Lámpara</strong> PAR56 LED 35W</li>
											      	<br>
											      	<li><strong>Protección</strong> Class III IP X8</li>
												</ul>
								    		</div>
										</div>
									</div>
									<div class="col m3 s12">
										<div class="card">
								    		<div class="card-image waves-effect waves-block waves-light">
								    			<img class="activator" src="../../static/padmex/img/i2.jpg">
								    		</div>
								    		<div class="card-content">
								    			<span class="card-title activator grey-text text-darken-4">LumiPlus S-Lim 1.11<i class="material-icons right">more_vert</i></span>
								   				<p><a href="#">Comprar</a></p>
								    		</div>
								    		<div class="card-reveal">
								    			<span class="card-title grey-text text-darken-4">LumiPlus S-Lim 1.11<i class="material-icons right">close</i></span>
								    			<ul>
											      	<br>
											      	<li><strong>Voltaje</strong> 12V</li>
											      	<br>
											      	<li><strong>Corriente</strong> AC</li>
											      	<br>
											     	<li><strong>Lámpara</strong> LED 35W</li>
											      	<br>
											      	<li><strong>Protección</strong> Class III IP X8</li>
											    </ul>
								    		</div>
									  	</div>
									</div>
									<div class="col m3 s12">
										<div class="card">
										    <div class="card-image waves-effect waves-block waves-light">
										    	<img class="activator" src="../../static/padmex/img/i3.jpg">
										    </div>
										    <div class="card-content">
										      	<span class="card-title activator grey-text text-darken-4">LumiPlus 2.11<i class="material-icons right">more_vert</i></span>
										    	<p><a href="#">Comprar</a></p>
										    </div>
										    <div class="card-reveal">
										    	<span class="card-title grey-text text-darken-4">Familia LumiPlus 2.11<i class="material-icons right">close</i></span>
										    	<ul>
									      	<br>
									      	<li><strong>Voltaje</strong> 12V</li>
									      	<br>
									      	<li><strong>Corriente</strong> AC</li>
									      	<br>
									      	<li><strong>Lámpara</strong> PAR56 LED 70W</li>
									      	<br>
									      	<li><strong>Protección</strong> Class III IP X8</li>
									      </ul>
										    </div>
										</div>
									</div>
									<div class="col m3 s12">
										<div class="card">
										    <div class="card-image waves-effect waves-block waves-light">
										    	<img class="activator" src="../../static/padmex/img/i3.jpg">
										    </div>
										    <div class="card-content">
										      	<span class="card-title activator grey-text text-darken-4">LumiPlus 2.11<i class="material-icons right">more_vert</i></span>
										    	<p><a href="#">Comprar</a></p>
										    </div>
										    <div class="card-reveal">
										    	<span class="card-title grey-text text-darken-4">Familia LumiPlus 2.11<i class="material-icons right">close</i></span>
										    	<ul>
											      	<br>
											      	<li><strong>Voltaje</strong> 12V</li>
											      	<br>
											      	<li><strong>Corriente</strong> AC</li>
											      	<br>
											      	<li><strong>Lámpara</strong> PAR56 LED 70W</li>
											      	<br>
											      	<li><strong>Protección</strong> Class III IP X8</li>
											    </ul>
										    </div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col m10 offset-m1 s12">
									<div class="col s12 cuadro blanco">
										<p>El adecuado mantenimiento de la química del agua es crucial para conseguir el uso más eficiente del cloro que compramos, lo que resulta en optimización de dinero invertido en productos químicos y productos de limpieza para nuestra alberca. Tenemos los mejores Químicos para el mantenimiento de su alberca, fuente o espejo de agua.</p>
									</div>
								</div>
							</div>
					    </span></div>
				    </li>
				    <li>
					    <div class="collapsible-header azul lob"><div class="container"><center>Accesorios</center></div></div>
					    <div class="collapsible-body"><span>
					    	<div class="row">
					    		<div class="col m10 offset-m1 s12">
					    			<div class="col m3 s12">
										<div class="card">
								    		<div class="card-image waves-effect waves-block waves-light">
								    			<img class="activator" src="../../static/padmex/img/i1.jpg">
								    		</div>
								    		<div class="card-content">
								    			<span class="card-title activator grey-text text-darken-4">LumiPlus PAR56 1.11<i class="material-icons right">more_vert</i></span>
								      			<p><a href="#">Comprar</a></p>
								    		</div>
								    		<div class="card-reveal">
									    		<span class="card-title grey-text text-darken-4">LumiPlus PAR56 1.11<i class="material-icons right">close</i></span>
												<ul>
												  	<br>
											      	<li><strong>Voltaje</strong> 12V</li>
											      	<br>
											      	<li><strong>Corriente</strong> AC</li>
											      	<br>
											      	<li><strong>Lámpara</strong> PAR56 LED 35W</li>
											      	<br>
											      	<li><strong>Protección</strong> Class III IP X8</li>
												</ul>
								    		</div>
										</div>
									</div>
									<div class="col m3 s12">
										<div class="card">
								    		<div class="card-image waves-effect waves-block waves-light">
								    			<img class="activator" src="../../static/padmex/img/i2.jpg">
								    		</div>
								    		<div class="card-content">
								    			<span class="card-title activator grey-text text-darken-4">LumiPlus S-Lim 1.11<i class="material-icons right">more_vert</i></span>
								   				<p><a href="#">Comprar</a></p>
								    		</div>
								    		<div class="card-reveal">
								    			<span class="card-title grey-text text-darken-4">LumiPlus S-Lim 1.11<i class="material-icons right">close</i></span>
								    			<ul>
											      	<br>
											      	<li><strong>Voltaje</strong> 12V</li>
											      	<br>
											      	<li><strong>Corriente</strong> AC</li>
											      	<br>
											     	<li><strong>Lámpara</strong> LED 35W</li>
											      	<br>
											      	<li><strong>Protección</strong> Class III IP X8</li>
											    </ul>
								    		</div>
									  	</div>
									</div>
									<div class="col m3 s12">
										<div class="card">
										    <div class="card-image waves-effect waves-block waves-light">
										    	<img class="activator" src="../../static/padmex/img/i3.jpg">
										    </div>
										    <div class="card-content">
										      	<span class="card-title activator grey-text text-darken-4">LumiPlus 2.11<i class="material-icons right">more_vert</i></span>
										    	<p><a href="#">Comprar</a></p>
										    </div>
										    <div class="card-reveal">
										    	<span class="card-title grey-text text-darken-4">Familia LumiPlus 2.11<i class="material-icons right">close</i></span>
										    	<ul>
									      	<br>
									      	<li><strong>Voltaje</strong> 12V</li>
									      	<br>
									      	<li><strong>Corriente</strong> AC</li>
									      	<br>
									      	<li><strong>Lámpara</strong> PAR56 LED 70W</li>
									      	<br>
									      	<li><strong>Protección</strong> Class III IP X8</li>
									      </ul>
										    </div>
										</div>
									</div>
									<div class="col m3 s12">
										<div class="card">
										    <div class="card-image waves-effect waves-block waves-light">
										    	<img class="activator" src="../../static/padmex/img/i3.jpg">
										    </div>
										    <div class="card-content">
										      	<span class="card-title activator grey-text text-darken-4">LumiPlus 2.11<i class="material-icons right">more_vert</i></span>
										    	<p><a href="#">Comprar</a></p>
										    </div>
										    <div class="card-reveal">
										    	<span class="card-title grey-text text-darken-4">Familia LumiPlus 2.11<i class="material-icons right">close</i></span>
										    	<ul>
											      	<br>
											      	<li><strong>Voltaje</strong> 12V</li>
											      	<br>
											      	<li><strong>Corriente</strong> AC</li>
											      	<br>
											      	<li><strong>Lámpara</strong> PAR56 LED 70W</li>
											      	<br>
											      	<li><strong>Protección</strong> Class III IP X8</li>
											    </ul>
										    </div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col m10 offset-m1 s12">
									<div class="col s12 cuadro blanco">
										<p>El adecuado mantenimiento de la química del agua es crucial para conseguir el uso más eficiente del cloro que compramos, lo que resulta en optimización de dinero invertido en productos químicos y productos de limpieza para nuestra alberca. Tenemos los mejores Químicos para el mantenimiento de su alberca, fuente o espejo de agua.</p>
									</div>
								</div>
							</div>
					    </span></div>
				    </li>
				    <li>
					    <div class="collapsible-header azul lob"><div class="container"><center>Iluminación</center></div></div>
					    <div class="collapsible-body"><span>
					    	<div class="row">
					    		<div class="col m10 offset-m1 s12">
					    			<div class="col m3 s12">
										<div class="card">
								    		<div class="card-image waves-effect waves-block waves-light">
								    			<img class="activator" src="../../static/padmex/img/i1.jpg">
								    		</div>
								    		<div class="card-content">
								    			<span class="card-title activator grey-text text-darken-4">LumiPlus PAR56 1.11<i class="material-icons right">more_vert</i></span>
								      			<p><a href="#">Comprar</a></p>
								    		</div>
								    		<div class="card-reveal">
									    		<span class="card-title grey-text text-darken-4">LumiPlus PAR56 1.11<i class="material-icons right">close</i></span>
												<ul>
												  	<br>
											      	<li><strong>Voltaje</strong> 12V</li>
											      	<br>
											      	<li><strong>Corriente</strong> AC</li>
											      	<br>
											      	<li><strong>Lámpara</strong> PAR56 LED 35W</li>
											      	<br>
											      	<li><strong>Protección</strong> Class III IP X8</li>
												</ul>
								    		</div>
										</div>
									</div>
									<div class="col m3 s12">
										<div class="card">
								    		<div class="card-image waves-effect waves-block waves-light">
								    			<img class="activator" src="../../static/padmex/img/i2.jpg">
								    		</div>
								    		<div class="card-content">
								    			<span class="card-title activator grey-text text-darken-4">LumiPlus S-Lim 1.11<i class="material-icons right">more_vert</i></span>
								   				<p><a href="#">Comprar</a></p>
								    		</div>
								    		<div class="card-reveal">
								    			<span class="card-title grey-text text-darken-4">LumiPlus S-Lim 1.11<i class="material-icons right">close</i></span>
								    			<ul>
											      	<br>
											      	<li><strong>Voltaje</strong> 12V</li>
											      	<br>
											      	<li><strong>Corriente</strong> AC</li>
											      	<br>
											     	<li><strong>Lámpara</strong> LED 35W</li>
											      	<br>
											      	<li><strong>Protección</strong> Class III IP X8</li>
											    </ul>
								    		</div>
									  	</div>
									</div>
									<div class="col m3 s12">
										<div class="card">
										    <div class="card-image waves-effect waves-block waves-light">
										    	<img class="activator" src="../../static/padmex/img/i3.jpg">
										    </div>
										    <div class="card-content">
										      	<span class="card-title activator grey-text text-darken-4">LumiPlus 2.11<i class="material-icons right">more_vert</i></span>
										    	<p><a href="#">Comprar</a></p>
										    </div>
										    <div class="card-reveal">
										    	<span class="card-title grey-text text-darken-4">Familia LumiPlus 2.11<i class="material-icons right">close</i></span>
										    	<ul>
									      	<br>
									      	<li><strong>Voltaje</strong> 12V</li>
									      	<br>
									      	<li><strong>Corriente</strong> AC</li>
									      	<br>
									      	<li><strong>Lámpara</strong> PAR56 LED 70W</li>
									      	<br>
									      	<li><strong>Protección</strong> Class III IP X8</li>
									      </ul>
										    </div>
										</div>
									</div>
									<div class="col m3 s12">
										<div class="card">
										    <div class="card-image waves-effect waves-block waves-light">
										    	<img class="activator" src="../../static/padmex/img/i3.jpg">
										    </div>
										    <div class="card-content">
										      	<span class="card-title activator grey-text text-darken-4">LumiPlus 2.11<i class="material-icons right">more_vert</i></span>
										    	<p><a href="#">Comprar</a></p>
										    </div>
										    <div class="card-reveal">
										    	<span class="card-title grey-text text-darken-4">Familia LumiPlus 2.11<i class="material-icons right">close</i></span>
										    	<ul>
											      	<br>
											      	<li><strong>Voltaje</strong> 12V</li>
											      	<br>
											      	<li><strong>Corriente</strong> AC</li>
											      	<br>
											      	<li><strong>Lámpara</strong> PAR56 LED 70W</li>
											      	<br>
											      	<li><strong>Protección</strong> Class III IP X8</li>
											    </ul>
										    </div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col m10 offset-m1 s12">
									<div class="col s12 cuadro blanco">
										<p>El adecuado mantenimiento de la química del agua es crucial para conseguir el uso más eficiente del cloro que compramos, lo que resulta en optimización de dinero invertido en productos químicos y productos de limpieza para nuestra alberca. Tenemos los mejores Químicos para el mantenimiento de su alberca, fuente o espejo de agua.</p>
									</div>
								</div>
							</div>
					    </span></div>
				    </li>
				</ul>
			</div>
			<div class="container row">
				<div class="col s12">
					<p class="cuadro">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit natus consequatur inventore iure aliquam, praesentium molestiae facilis labore deserunt provident culpa, mollitia magni dolorem, ex cupiditate excepturi corporis at similique!</p>
				</div>
			</div>

	</main>

</body>
<script type="text/javascript" src="../../static/padmex/js/jquery.js"></script>
<script type="text/javascript" src="../../static/padmex/js/materialize.min.js"></script>
<script type="text/javascript" src="../../static/padmex/js/app.js"></script>

</html>